* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.title {
  font-weight: bold;
}
body {
  background-color: #fafafa;
}
button {
  color: black;
  padding: 10px;
  border-radius: 30px;
  background-color: #06586e;
  border: none;
}

button:hover {
  background-color: #586a6e;
}

a {
  font-size: 25px;
  color: black;
}
