* {
  text-decoration: none;
  box-sizing: border-box;
}
.title {
  font-weight: bold;
}

.boton {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  padding: 1em;
  margin-bottom: 60px;
  appearance: none;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px;
}
